<h1>JWT Generator</h1>

<form id="entryForm" method="post" action="/member/jwtGenerator">
    아이디(메일주소): <input type="text" id="userId" name="userId" /> <br>
    이름:<input type="text" id="userName" name="userName" /> <br>
    전화번호:<input type="text" id="userPhone" name="userPhone" /> <br>
    <input type="submit" value="생성" />
</form>