<h1>Profile</h1>

<form id="entryForm" method="post" action="/member/entry">
    아이디(메일주소): <input type="text" id="userId" name="userId" value="<%=userData.userId%>" /> <br>
    이름:<input type="text" id="userName" name="userName" value="<%=userData.userName%>" /> <br>
    전화번호:<input type="text" id="userPhone" name="userPhone" value="<%=userData.userPhone%>" /> <br>
</form>