<h1>
    SignUp
</h1>

<form id="signUpForm" action="" method="post">
    아이디(메일주소): <input type="text" id="userId" name="userId" /> <br>
    암호:<input type="password" id="userPassword" name="userPassword" /> <br>
    암호확인:<input type="password" id="userPasswordConfirm" name="userPasswordConfirm" /> <br>
    이름:<input type="text" id="userName" name="userName" /> <br>
    전화번호:<input type="text" id="userPhone" name="userPhone" /> <br>
    <input type="submit" value="회원가입" />
</form>