<h1>
    SignIn
</h1>

<form id="signInForm" action="/member/normal-signIn" method="post">
    아이디(메일주소): <input type="text" id="userId" name="userId" /> <br>
    암호:<input type="password" id="userPassword" name="userPassword" /> <br>
    <input type="submit" value="로그인" />
</form>

<script>
    // 로그인 결과 메시지값 출력하기
    const signInMessage = '<%=signInResult%>';

    if (signInMessage.length) {
        alert(signInMessage);
    }


    $("#signInForm").submit(function () {
        return true;
    })
</script>