<!--우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom">
        <form action="" method="">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">제목</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">내용</label>
                        <textarea class="form-control" rows="10" cols="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">게시 여부</label>
                    <div class="form-group" style="width: 30%">
                        <select id="displayyn" class="form-control">
                            <option value="true">게시함</option>
                            <option value="false">게시안함</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-primary">저장</button>
                <a href="/board/list" class="btn btn-info">목록</a>
            </div>
        </form>
    </div>
</div>